
.about-us--main {
    height: 2700px;
    background: black;
}
.about-us-main { 
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
}
.slide-in-w {
  animation: slide-in-top 3.0s  both;
  animation: slide-in-top 3.0s  both;
      font-size: 100px;
}
.slide-in-a {
  animation: slide-in-top 4.0s both;
  animation: slide-in-top 4.0s both;
      margin-left: 10px;
      font-size: 60px;
}
.slide-in-g {
  animation: slide-in-top 5.0s both;
  animation: slide-in-top 5.0s both;
      margin-left: 10px;
      font-size: 100px;
}
.slide-in-s {
  animation: slide-in-top 6.0s both;
  animation: slide-in-top 6.0s both;
      margin-left: 20px;
      font-size: 60px;
}
@keyframes slide-in-top {
  0% {
      transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
      }
  100% {
      transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
       }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 /* 상단 WaGs 슬라이드 끝 */

 /* 회사 소개 */

 .introbox {
      display:flex;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      height: 230px;
      background: linear-gradient( rgb(37, 13, 59),rgb(29, 18, 44));
 }
 .introtext {
      padding: 0px 200px 0px 200px;
      color: white;
 }
.game_box {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 80%;
    height: 400px;
    padding: 10%
}
.game_slide {
      width: 600px;
      overflow: hidden;
}
.game_img {
      float: left;
      width: 600px;
      height: 400px;
      position: absolute;
      animation: slide 20s infinite;
      opacity: 0;   
}
.game_slide > img:nth-child(2){
      animation-delay: 5s;
}
.game_slide > img:nth-child(3){
      animation-delay: 10s;
}
.game_slide > img:nth-child(4){
      animation-delay: 15s;
}
.game_slide > img:nth-child(5){
      animation-delay: 20s;
}

@keyframes slide {
      10% {opacity: 1;}
      20% {opacity: 1;}
      30% {opacity: 1;}
      40% {opacity: 0;}
}
.game_text {
      text-align: center;
      padding-top: 8%;
      width: 40%;
      font-size: 20px;
      color:#FFF;
      border-color: #ed2924 #d8b100 #00a750;
      border-style: solid;
      border-width: 5px;
     
}
/* 게임이미지 슬라이드 끝 */

/* 장비이미지 슬라이드 시작 */

.item_box {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 80%;
      height: 400px;
  }

.item_slide {
      width: 600px;
      overflow: hidden;
}
.item_img {
      float: right;
      width: 600px;
      height: 400px;
      padding-left: 12%;
      position: absolute;
      animation: slide 20s infinite;
      opacity: 0;   
}
.item_slide > img:nth-child(2){
      animation-delay: 5s;
}
.item_slide > img:nth-child(3){
      animation-delay: 10s;
}
.item_slide > img:nth-child(4){
      animation-delay: 15s;
}
.item_slide > img:nth-child(5){
      animation-delay: 20s;
}

@keyframes slide {
      10% {opacity: 1;}
      20% {opacity: 1;}
      30% {opacity: 1;}
      40% {opacity: 0;}
}
.item_text {
      text-align: center;
      padding-top: 10%;
      margin-left: 13%;
      width: 40%;
      font-size: 20px;
      color:#FFF;
      border-color: #ed2924 #d8b100 #00a750;
      border-style: solid;
      border-width: 5px;
     
}
.map_text {
      padding-top: 10%;
      text-align: center;
      font-size: 40px;
      color: white;
}
.map_box {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 20px;
}