#index__body {
    font-family: "Source Sans Pro", "Manrope", sans-serif;
    height: 500vh;
    position: relative;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
  }
  #index__main {
    margin-top: 100px;
  }
  .index__font{
    list-style-type: none;
    color: white;
    font-size: 25px;
  }
  #video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }