.products_body {
    background-color: black;
    color: white;
}

.products_img {
    /*상품 이미지 크기 조정*/
    width: 350px;
    height: 400px;
}

.products_sidebar {
    /*사이드 메뉴 위치 고정*/
    position: fixed;
    padding: 30px;
    margin-top: 4%;
    font-size: 20px;
}

.products_a:link,
:visited {
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/

}

.products_main {
    /*전체 메인 위치 조정 (사이드 제외하고 전체 이동)*/
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.products_name {
    /*소제목 위치 조정*/
    font-size: 30px;
    padding-left: 130px;
    padding-bottom: 20px;
}

.products_photo {
    /*리스트 메뉴 가로 정렬 및 세부 위치 조정
    소제목과 가격 사이 공간 조정*/
    display: flex;
    padding-left: 90px;
    padding-bottom: 40px;
}

.products_list {
    /*상품 각각 사이 공간 간격*/
    margin-left: 30px;
}

.products_sale_name {
    /*세일 상품 이름 위치 조정*/
    margin: 10px 0px 10px 50px;
}

.products_sale:link,
:visited {
    margin-left: 120px;
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/
}


.products_games_name {
    /*게임 상품 이름 위치 조정*/
    margin: 10px 0px 10px 5px;
}

.products_games:link,
:visited {
    /*게임 항목 가격*/
    margin-left: 170px;
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/
}

.products_consoles_name {
    /*콘솔 상품 이름 위치 조정*/
    margin: 10px 0px 10px 0px;
}

.products_consoles:link,
:visited {
    /*장비 항목 가격*/
    margin-left: 180px;
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/
}

.products_controllers_name {
    /*컨트롤러 상품 이름 위치 조정*/
    margin: 10px 0px 10px -5px;
}

.products_raptor_name {
    /*컨트롤러 안 랩터 상품 이름 위치 조정*/
    margin: 10px 0px 10px 10px;
}

.products_controllers:link,
:visited {
    /*장비 항목 가격*/
    margin-left: 170px;
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/
}


.products_accessories_name {
    /*악세사리 상품 이름 위치 조정*/
    margin: 10px 0px 10px 0px;
}

.products_chair_name {
    /*악세사리 안에 의자 상품 이름 위치 조정*/
    margin: 10px 0px 10px 10px;
}

.products_mouse_name {
    /*악세사리 안에 마우스 상품 이름 위치 조정*/
    margin: 10px 0px 10px 3px;
}

.products_keyboard_name {
    /*악세사리 안에 키보드 상품 이름 위치 조정*/
    margin: 10px 0px 10px -5px;
}

.products_accessories:link,
:visited {
    /*장비 항목 가격*/
    margin-left: 180px;
    /*링크 밑줄 삭제*/
    text-decoration: none;
    /*항상 흰색 유지*/
}
