/* 폰트 import*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap");

/* 브라우저의 default 스타일 값 초기화 */
@import "reset.css";

/* --------------------------------------- */
@import "footer.css";
@import "nav-bar.css";
@import "index.css";
@import "main2.css";
@import "about-us.css";
@import "products.css";
@import "products_detail.css";




main{
  margin-top: 100px;
}
#index__body {
  font-family: "Source Sans Pro", "Manrope", sans-serif;
  height: 500vh;
  position: relative;
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
#index__main {
  margin-top: 100px;
}
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
}

/* 변수지정 */
:root {
  --point-color: rgb(206, 156, 255);
  --space: 8px 20px;
  --sub-color: rgb(50, 50, 50);
  --font-size: 24px;
  --larger-font-size: 22px;
}
