* {
  padding: 0px;
  margin: 0px;
}

.pd__background {
  /* background-color: black;
    width: 100%;
    height: 900px; */
  padding-left: 100px;
  padding-top: 100px;
  /* position: fixed; */
}
.pd__backgroundblack {
  background-color: black;
  /* width: 100%; */
  height: 1200px;
}
.s1 {
  color: white;
  font-size: 18px;
}
.naming {
  font-size: 32px;
  font-weight: bold;
}
.pd__img {
  float: left;
}
#buy__btn:hover {
  background: linear-gradient(to bottom right, white, orange);
}
.box1 {
  padding-left: 50px;
  color: white;
  float: left;
}

.price {
  font-size: 30px;
  font-weight: bold;
}

#buy__btn {
  text-align: center;
  width: 400px;
  height: 50px;
  font-family: bold;
  background-color: #08070c;

  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
}
.buy__btn a {
  text-decoration: none;
  color: #f8f0d1;
}
.quantity {
  font-size: 25px;
}
.quantity_sub {
  font-style: italic;
  background-color: black;
  border: 1px solid gray;
  color: white;
  line-height: 35px;
  margin-top: 8px;
}
.op__ {
  font-size: 25px;
  line-height: 35px;
}
.poi {
  width: 250px;
  height: 40px;
  font-weight: bold;
  font-style: italic;
  line-height: 130%;
  background-color: black;
  border: 1px solid gray;
  color: white;
}

select > option {
  /* width: 300px; */
  font-size: 14px;
  font-style: italic;
}
input[type="number"] {
  width: 80px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.detail__big {
  clear: both;
  color: white;
  padding-top: 50px;
  float: left;
  width: 625px;
  font-size: 30px;
}
.detail__big > div {
  font-size: 20px;
}
.detail__small {
  font-size: 30px;
  color: white;
  float: right;
  padding-top: 50px;
  padding-left: 50px;
  float: left;
}
.detail__small > div {
  font-size: 20px;
  clear: both;
}

.bot {
  color: white;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  transform: translate(210px, 350px);
}
.text__icon {
  width: 200px;
  height: 400px;
  background-color: black;
  position: fixed;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
}

.chat__log {
  width: 200px;
  height: 25px;
  border: 1px solid white;
  border-radius: 5px 5px 0px 0px;
}

.text {
  width: 200px;
  height: 40px;
  position: fixed;
  font-size: 13px;
  vertical-align: bottom;
  border-radius: 0px 0px 5px 5px;
  margin-top: 4px;
  border: none;
}
.chat {
  display: flex;
  padding-left: 30px;
  padding-top: 100px;
}
.chat__img {
  width: 30px;
  height: 30px;
}
.chat__message {
  margin-top: 70px;
  margin-left: 10px;
  width: 170px;
  height: 70px;
  border: 1px solid gray;
  border-radius: 3px 18px 18px 3px;
  font-size: 15px;
}
.chat__message1 {
  margin-top: 15px;
  margin-left: 10px;
  width: 170px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 3px 18px 18px 3px;
  font-size: 15px;
}
.mk2 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 10px;
}
.mk {
  border: none;
  background-color: black;
  width: 130px;
  height: 30px;
  color: white;
  border-bottom: 2px solid darkslategray;
  margin-left: 10px;
}
.submit_btn {
  background-color: gray;
  width: 120px;
  height: 30px;
  text-align: center;
  margin-left: 20px;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
}

.view__btn__first {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;

  width: 400px;
  height: 50px;
  text-align: left;
}
.view__down__first {
  color: blue;
}
.view__btn__second {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-bottom: 2px solid gray;
  width: 400px;
  height: 50px;
  text-align: left;
}
.view__down__second {
  color: blue;
}
.view__btn__second-1 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-bottom: 2px solid gray;
  width: 400px;
  height: 50px;
  text-align: left;
}

.view__down__second-1 {
  color: blue;
}
.view__btn__second-2 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-bottom: 2px solid gray;
  width: 400px;
  height: 50px;
  text-align: left;
}

.view__down__second-2 {
  color: blue;
}
.plus {
  text-align: right;
}
