#lightoff {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 400vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out all;
}
#nav {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  height: 120px;
  background: linear-gradient(rgb(37, 13, 59), rgb(21, 13, 32));
  align-items: center;
  justify-content: space-between;
  z-index: 98;
}

#nav__logo {
  color: white;
  padding-left: 100px;
  width: 30%;
}
#nav__right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  width: 55%;
}
.nav__list {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 600;
  white-space:nowrap;
  padding-right: 15px;
}
.nav__list li{
  display: inline;
  padding-left: 25px;
}
.nav__list li a{
  transition: 0.5s ease-in-out all;
}
.nav__list li a:hover {
  color: var(--point-color);
}
#nav__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  transition: 0.5s ease-in-out;
}
#nav__icon li {
  margin-left: 30px;
  background: none;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav__icon li:last-child{
  min-width: 80px;
  white-space: nowrap;
}
#nav__icon a:last-child{
  width: 80px;
}
#nav__icon span{
  transition: 0.5s ease-in-out all;
  border-bottom: 1px solid white;
  line-height: 150%;
  padding-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
}
#nav__icon li:hover,
#nav__icon a:hover,
#nav__icon span:hover{
  color: var(--point-color);
  border-color: var(--point-color);
}
.v-hidden {
  visibility: hidden;
  border: none;
}
#search-input {
  position: relative;
  width: 0px;
  top: 4px;
  right: -5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(89, 89, 89);
  color: white;
  border: 2px solid white;
}
#search-input:focus,
#search-input:hover {
  background-color: rgba(140, 140, 140);
}
.nav_padding{
  padding: 50px;
}



#cart {
  z-index: 99;
  float: right;
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  font-family: "Manrope";
  transition: 0.8s ease-out all;
}
#cart__top {
  display: flex;
  padding: var(--space);
  background-color: white;
  color: black;
  height: 100px;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
}
#cart__top i {
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}
#cart__top i:hover {
  color: var(--point-color);
}
#cart__bottom {
  padding: var(--space);
  padding-top: 50px;
  font-size: 22px;
  text-align: center;
  color: white;
  height: 84%;
  background-color: var(--sub-color);
}
.padding {
  visibility: hidden;
}
.lightoff-hidden{ 
  opacity: 0.5;
  display: none;
}